# logins, passwords of the Twake users (they are supposed to be already created), formatted as:
# Watch out : the first user MUST have the administration rights of the company

[Anakin]
login : anakin.skywalker@example.com # may also be anakin.skywalker
password : 1234password

[Padme]
login : padme.amidala
password : mypassword