#logins, passwords, first and last names of the OpenPaas users (they are supposed to be already created), formated as:

[Anakin Skywalker]
mail : anakin.skywalker@example.com
password : 1234password
first_name : Anakin
last_name : Skywalker