# urls of the sites (and name of the Twake company) used by the scripts : OP Calendar, Twake, jmap server, Linshare


[Calendar]
url : https://openpaas.example.org/#/calendar

[Twake]
url : https://example.twake.app/
company_name : Company Name

[Email]
url : https://jmap.openpass.example.org/

[Linshare]
url : https://linshare-external.example.open-paas.org/